
@charset "UTF-8";

html {
	font-family: 'Comfortaa', cursive;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Comfortaa);

/*============================= MEDIA QUERIES ================================*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1014px) {
/* Styles */
	#body-home{
		background-image: url(images/escheresque_ste.png);
		background-repeat: repeat;
	}

	#footer{
		max-width: 100%;
		max-height: auto;
		background-color: rgba(255, 255, 255, .4);
		list-style: none;
	}

	.a-left {
		float: left;
	}

	.a-right {
		float: right;
	}
}