.w3-display-container{
	position:relative;
}

.w3-container:after{
	content:"";
	display:table;
	clear:both;
}

.w3-content{
	max-width:980px;
	margin:auto;
}

.w3-left{
	float:left!important;
}

.w3-right{
	float:right!important;
}

.w3-display-bottomleft{
	position:absolute;
	left:0;
	bottom:0;
}

.w3-display-bottomright{
	position:absolute;
	right:0;
	bottom:0;
}

.w3-display-bottommiddle{
	position:absolute;
	left:50%;
	bottom:0;
	transform:translate(-50%,0%);
	-ms-transform:translate(-50%,0%);
}


.w3-display-container:hover{
	display:block;
}


.w3-section{
	margin-top:16px!important;
	margin-bottom:16px!important
}

.w3-padding-left{
	padding-left:16px!important;
} 

.w3-padding-right{
	padding-right:16px!important;
}


.w3-container{
	padding:0.01em 16px;
}

